*{
    padding: 0;
    margin: auto;
}

h1{
    width: 30%;
}
.bodyApp{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.noteText{
    text-align: right;
    margin-right: 80px;
}

.nameApp{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Impact, fantasy;
    background-color: #763626;
    text-align: center;
}

.textNote{
    text-align: center;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    font-family: Impact, fantasy;
    color: #90AFC5;
    font-size: 35px;
}


.textInsideNote{
    font-family: Impact, fantasy;
    font-size: 25px;
}

.list{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
    -webkit-box-shadow: 6px 5px 15px 0px #000000; 
    box-shadow: 6px 5px 15px 0px #000000;
    background-color:#336B87;
    border-radius: 15px;
    
}

.items{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}

.radioButton{
    color: #BCBABE;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.textForm{
    color:#BCBABE;
    padding: 5px;
}

.inputAlign{
    padding: 5px;
    width: 80%;
}

.description{
    width: 100%;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 7px;
    width: 30%;
    font-size: medium;
}

.note{
    padding-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10;
    margin: 0;
}

.hide{
    display: none;
}